@import '../../../scss/variables';

.comment {
  padding: 30px;
  background-color: rgba($color: $main-color, $alpha: 0.2);
  border-radius: 10px;
  display: flex;
}

.author {
  color: $main-color;
  font-weight: bold;
}

.desc {
  margin-top: 12px;
}

.rating {
  display: flex;
  gap: 1px;
  margin-top: 3px;
}

.deleteBtn {
  margin-top: 10px;
}

.titleContainer {
  display: flex;
}