@import '../../../scss/variables';

.button-main {
  background-color: $dark-color;
  padding: 12px 15px;
  // border-radius: 6px;
  color: $light-color;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  @media screen and (max-width: 400px){
    font-size: 1.1rem;
    padding: 15px;
  }

  &:hover {
    background-color: $main-color;
    transition: 0.3s;
    color: $light-color;
  }

  &:visited{
    color: $light-color;
  }

  &:disabled {
    background-color: rgba($color: $main-color, $alpha: 0.3);
    font-size: 1rem;
    cursor: not-allowed;
    margin-top: 25px;
    // padding: 10px;
  }
}

.button-sub {
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
  padding: 12px;
  border-radius: 10px;
  max-width: 415px;
  width: 100%;
  font-weight: bold;

  &:hover {
    background-color: rgba($color: $main-color, $alpha: 0.1);
    transition: 0.3s;
  }
}