@import '../../../scss/variables';

.button-main {
  background-color: $main-color;
  padding-inline: 25px;
  border-radius: 10px;
  height: 48px;
  color: #F2F6FF;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba($color: $main-color, $alpha: 0.5);
    transition: 0.3s;
  }
}

.button-sub {
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
  padding: 12px;
  border-radius: 10px;
  max-width: 415px;
  width: 100%;
  font-weight: bold;

  &:hover {
    background-color: rgba($color: $main-color, $alpha: 0.1);
    transition: 0.3s;
  }
}