@use '../../../scss/variables' as *;

.inputContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  // max-width: 560px;
  flex-grow: 1;
  align-items: center;
}

.input {
  border: 1px solid $main-color;
  border-radius: 8px;
  width: 100%;
  background-color: rgba($color: $main-color, $alpha: 0.1);
  padding: 15px;

  &::placeholder {
    color: rgba($color: $main-color, $alpha: 0.8);
  }
}

.label {
  font-weight: bold;
  font-size: 1.4rem;
}

.search {
  border-radius: 20px;
  background-color: rgba($color: $main-color, $alpha: 0.1);
  padding: 13px;
  max-width: 560px;
  width: 100%;
}

.checkboxText {
  color: $main-color;
  margin-left: 10px;
  font-size: 1.2rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkboxLabel input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.customCheckbox {
  width: 25px;
  height: 25px;
  border: 1px solid $main-color;
  border-radius: 4px;
  display: inline-block;
  flex-shrink: 0;
  background-color: rgba($color: $main-color, $alpha: 0.1);
}

.customCheckbox::after {
  content: "✔";
  position: absolute;
  left: 4px;
  top: 9px;
  color: $main-color;
  font-size: 20px;
}

