@use 'scss/variables' as *;
@use 'scss/reset' as *;
@use 'scss/events' as *;
@use 'scss/places' as *;
@use 'scss/tops' as *;
@use 'scss/banner' as *;
@use 'scss/auth' as *;
@use 'scss/navigation' as *;
@use 'scss/event' as *;
@use 'scss/comments' as *;
@use 'scss/profile' as *;
@use 'scss/moderation' as *;

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  height: 100%;
}

:root {
  height: 100%;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

.content {
  max-width: 1320px;
  width: calc(100% - 20px);
}

.error-page{
  margin-top: 50px;
  text-align: center;
  font-size: 1.4rem;

  >a {
    color: $main-color;
  }

  >a:before{
    content: "🡰 "; 
  }
}

.mt-60{
  margin-top: 60px;
}

.catalog{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}