@use '../../../scss/variables' as *;

.ticket {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  align-items: center;
  gap: 10px;
  background-color: rgba($color: $main-color, $alpha: 0.1);
  padding: 15px;
  border-radius: 5px;
  height: 290px;
}

.event {
  display: flex;
  width: 100%;
  gap: 10px;
  background-color: rgba($color: $main-color, $alpha: 0.1);
  padding: 10px;
  border-radius: 5px;
}

.ticketContainer {
  text-align: center;
}

.eventContainer {
  align-items: start;
  justify-content: start;
}

.ticketImg {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.eventImg {
  max-width: 130px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventInfo {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}

.ticketInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.title {
  font-weight: 800;
  font-size: 1.2rem;
}

.eventButton {
  height: 50px;
}

.ticketButton {
  width: 100%;
  align-self: end;
  justify-self: end;
}
