@import '../../../scss/variables';

.form {
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 40px;
  max-width: 650px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    margin-top: 30px;
    
    &:first-child {
      margin-top: 0px;
    }
  }
}
