.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 15px;
  width: max-content;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile {
  width: max-content;
  display: flex;
  gap: 10px;
}

.search {
  @media screen and (max-width:767px){
    display: none;
  }
}

// .logo {
//   @media screen and (max-width:568px){
//     display: none;
//   }
// }

// .mlogo {
//   width: 100%;
//   height: 48px;
//   @media screen and (min-width:568px){
//     display: none;
//   }
// }

.select {
  @media screen and (max-width:360px){
    display: none;
  }
}